includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Access to an undefined property [a-zA-Z0-9\\_]+::\$name.#'
        - '#Access to an undefined property [a-zA-Z0-9\\_]+::\$surveyhero\_id.#'
        - '#Access to an undefined property [a-zA-Z0-9\\_]+::\$survey\_last\_imported.#'
        - '#Call to an undefined static method [a-zA-Z0-9\\_]+Contract::truncate\(\)#'
        - '#Call to an undefined static method [a-zA-Z0-9\\_]+Contract::updateOrCreate\(\)#'
        - '#Call to an undefined static method [a-zA-Z0-9\\_]+Contract::where\(\)#'
        - '#Call to an undefined static method [a-zA-Z0-9\\_]+Contract::whereHas\(\)#'
        - '#Call to an undefined static method [a-zA-Z0-9\\_]+Contract::create\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+Contract::save\(\)#'

